.partner_auction_header {
    color:#BC0D5F;
    text-align: center;
    text-decoration: blink;
	animation: blink-animation 1s steps(1, start) infinite;
	-webkit-animation: blink-animation 1s steps(2, start) infinite;    
    
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.partner_auction_para {
    color:#BC0D5F;
    font-size: medium;
    font-weight: bold;
}

pre{
	color:#BC0D5F;
}

.partner_auction_image{
	
	width:920px;
	height:520px;	
}
